doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
//NOT USED ANYMORE CAN BE DELETED OR LATER USED TO KEEP THINGS DRY
//- add this if you want to use the code above it is like subclassing
//extends layout
//block content