doctype html
html(lang='en')
  include common/head.pug
  +head("Minimal landing")
  body
   header
    include common/navbar.pug
    +navbar()
    .container
      .row-align-items-center
        .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
          block content
   
   include common/footer.pug
   +footer()